body{
    margin:0; padding:0; margin-box:border-box;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("../Images/download.jpg");
    background:no-repeat:
    width:auto;
    height:auto;
    font-family: :san-serif;
    background-size:cover;
    
}


.signin{
    width:280px;
    position: absolute;
    top:30%;
    left:40%;
    transform: translate(-50%,-50);
    color:white;
   
    

}
.signin h1{
    border-bottom: 3px solid #00bab8;
    float:left;
    font-size: 40px;
    padding: 30px 0;
    


}
.textbox{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom: 1px solid #00bab8;
}
.textbox i{
    width:26px;
    float:left;
    text-align: center;
}
.textbox input{
    border:none;
    outline: none;
    background: none;
    color:white;
    font-size: 17px;
    width:80px;
    float:left;
    margin:10px;
}

.btn{
    width:100%;
    border:none;
    background: none;
    border:2px solid #00bab8;
    color:white;
    padding:5px;
    font-size: 19px;
    margin:12px 0px;
    cursor:pointer;
    border-radius:2rem;
}



